@charset "utf-8";
/* CSS Document */
/*全局定义*/
*{ margin:0;padding:0;}
*html body{ overflow:visible;}
html,body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,fieldset,img,div{ margin:0; padding:0;font-size:100%; font-weight:normal;}
body{width:100%; height:100%;font-family:Arial, "宋体", "微软雅黑"; font-size:12px; color:#333333; background:#f9f8f2;text-shadow: 0px 1px 0px rgba(255,255,255, .6);}
table,tr,td{ border-collapse:collapse;}
ul,li{ list-style-type:none;}
a,input,button,select,textarea{ outline:none;}
a{ text-decoration:none;star:expression(this.onFocus=this.blur());}
a:link,a:visited{ color:#383838;}
a:hover,a:active{ color:#c94040; text-decoration:underline;}
img{ border:0 none;}
div{ text-align:left;}
.fl{ float:left;}
.fr{ float:right;}
.fn{ float:none;}

/*顶部样式 TOP-Frame*/
#topframe{ background:url(../images/top.png) repeat; overflow:hidden; width:100%;height:100px; margin:0px auto; padding:0px;overflow:hidden;}
#topframe .logo{ margin-top:10px; display:block; width:460px; height:80px; background:url(../images/admin_logo_b.png) no-repeat; float:left;}
#topframe .navigation{ display:block;width:284px; height:35px; background:url(../images/top_nav.png) no-repeat;}
#topframe .navigation ul{ list-style-type:none; margin:0px; padding:0px;}
#topframe .navigation ul li{ display:inline; float:left; height:35px; line-height:35px; padding:0px 10px;}
#topframe .navigation ul li a{ color:#363636;}
#topframe .navigation ul li a:hover{ color:#c94040; text-decoration:underline;}
#topframe .admin{ display:block; width:300px; height:35px;line-height:35px;text-align:center;color:#bfb4a1; font-size:12px;text-shadow: 1px 1px 0px rgba(0,0,0,0.9);}

/*左面板 LEFT - Frame*/
#Menu{background:url(../images/body0.jpg) repeat;}
/*外层menu*/
.OutMenu,.OutMenu ul,.OutMenu li,.OutMenu a{ margin:0; padding:0; border:none; outline:none;}
.OutMenu li{ list-style:none;}
.OutMenu li a{ display:block;min-width:110px;padding:0 10px 0 50px;height:40px;color:#f9f8f2;font: bold 14px/40px Arial, sans-serif;text-decoration: none;text-shadow: 0px 1px 0px rgba(60,60,60, .35);
background:url(../images/top.png) repeat;border-bottom:1px dashed #666666; position:relative;}
.OutMenu li:target a,.OutMenu li a.active{color: #333333;
text-shadow: 0px 1px 0px rgba(255,255,255, .6);background:url(../images/bg_hover.png) repeat;}
.OutMenu li a:before{position: absolute;top: 0;left: 0;content: '';width: 24px;height: 24px;margin: 4px 8px;}
/*内层menu*/
.InMenu li a{color: #393939;padding: 0 10px 0 60px;text-shadow: 0px 1px 0px rgba(255,255,255,.6);font-weight:normal;
font-size:12px;background:url(../images/body0.jpg) repeat;border-bottom: 1px dashed #ddd8b0;
-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);}
.InMenu li:hover a{background:url(../images/body0.jpg) repeat;}
.InMenu li a:hover{background:#ede9ce; color:#333333;}
.InMenu li:last-child a{border: none;}
.OutMenu li .InMenu{ display:none;}
.OutMenu li:target .InMenu{ display:block;}

/*主面板- Main FRAME*/

#NavBox{ display:block; width:98%; padding:4px 1% 6px 1%; height:30px; line-height:30px; background:url(../images/top.png) repeat; border-bottom-left-radius:100px; border-bottom-right-radius:100px; overflow:hidden; position:fixed; top:0; left:0; margin:0px auto; z-index:999;}
#NavBox .location{display:block;height:30px; line-height:32px; padding-left:35px; background:url(../images/home.png) center left no-repeat; float:left; margin:-2px 10px 0px 30px;color:#bfb4a1; font-weight:500; font-size:13px;text-shadow: 1px 1px 0px rgba(0,0,0, .6);}
#NavBox ul.menu{ display:block;height:30px; line-height:30px; float:right; margin:-2px 80px 10px 0px;}
#NavBox ul.menu li{ display:inline-block; width:96px; height:30px; margin-left:15px; float:left;}
#NavBox ul.menu li a{  display:inline-block; width:96px; height:30px; text-align:center; line-height:30px; background:url(../images/top_nav_a.png) 0px 0px no-repeat; text-decoration:none;color:#3a3a3a;}
#NavBox ul.menu li a.selected{  display:inline-block;width:96px;height:30px;text-align:center;line-height:30px;color:#c94040; background:url(../images/top_nav_a.png) 0px -30px no-repeat;text-decoration:none; font-weight:bold;}

#Clear_Fixed{ display:block; width:100%; height:50px; overflow:hidden; clear:both;}





/**/
label{ padding-left:20px;}
dt{ height:30px; line-height:30px; padding:3px 0px;}
input[type=text]{ width:218px; height:28px; padding:0px 10px; border:1px solid #cecece;}
input[type=text].px{ width:48px; text-align:center;}
input[type=text].Sub{width:20px; height:30px;border:0 none;background:url(../images/option_2.png) 0px 0px; padding:0; margin:0; margin-left:-4px; cursor:pointer;}
input[type=text].Add{width:20px; height:30px;border:0 none;background:url(../images/option_2.png) 0px -30px; padding:0; margin:0;margin-left:-4px; cursor:pointer;}

